[submodule "dwm"]
	path = dwm
	url = https://github.com/Crystalix007/dwm
[submodule "notify-send.sh"]
	path = notify-send
	url = https://github.com/vlevit/notify-send.sh.git
[submodule "usr/share/sddm/themes/clairvoyance"]
	path = usr/share/sddm/themes/clairvoyance
	url = https://github.com/Crystalix007/sddm-theme-clairvoyance.git
[submodule "slstatus"]
	path = slstatus
	url = https://github.com/Crystalix007/slstatus.git
[submodule "configui"]
	path = configui
	url = https://github.com/Crystalix007/ConfiGUI.git
	ignore = untracked
[submodule "ksetwallpaper"]
	path = ksetwallpaper
	url = https://github.com/Crystalix007/ksetwallpaper.git
	ignore = untracked
